<h2 class="section-title">{{ .titles.about }}</h2>

<p>Go Northwest is the Pacific Northwest’s community driven conference devoted to the Golang language. Go Northwest will be held at the Seattle Center with easy access to public transit. We are anticipating attendance from 200-300 people from the Go community.</p>

<p>Our attendees are software developers who write in Go, whether in personal projects or in their job, technical team leads, language developers, and new members of the Go community. Fun, quirky talks and audience participation are encouraged.</p>

<p>Go Northwest seeks to build a community with our neighbors from all around the PNW, from Vancouver to Oregon, Washington to Montana.</p>
