<h2 class="section-title">{{ .titles.accessibility }}</h2>

<p itemprop="description">
The Go Northwest organizers want to meet the needs of all attendees.  McCaw Hall provides a set of <a href="https://www.mccawhall.com/events-tickets/accommodations-for-disabled-patrons" target="_blank">accommodations for disabled patrons</a>, including disabled parking, accessible entries and restrooms, elevators, wheelchair and transfer seating, and assisted listening devices (ALD).  Go Northwest will also have live captioning provided by <a href="www.whitecoatcaptioning.com/" target="_blank">White Coat Captioning</a>.
</p>
