<style type="text/css">

.header {
  padding: 0;
  height: 600px;
  background-image: url("../img/cover.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
}

@media only screen and (max-width: 480px) {
  .header {
    height: 320px;
    margin-bottom: 5em;
    background-image: url("../img/small-cover.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 480px 100%;
  }
}

</style>

<header class="header">
  <div class="wrapper">
  </div>
</header>

<hr>
